# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environments
.venv/
venv/
env/

# Outputs
output/
outputs/
results/
*.log

# Temporary files
*.tmp
.DS_Store
Thumbs.db

# Local test data
data/*
!data/Sepolia/
!daa/Sepolia/**

# Docker test outputs
results_docker/

# CWL test outputs
results_cwl/
